.outer-container-div{
    display: flex;

}

.left-container-div{
    width: 15%;
    height: 100vh;
    box-shadow: 9px 0 7px -10px rgb(31 73 125 / 80%), -12px 0 8px -4px rgb(31 73 125 / 80%);
}

.right-container-div{
    padding-left: 2em;
    padding-left: 2em;
    width: 75%;
    overflow-y:auto;
    height: 90vh;
}